section {
    background-color: grey;
    display: -webkit-flex;
    display: flex;
}
article {
    --webkit-flex: 3;
    flex: 3;
    padding: 10px;

} 
#search-container{
float: left;
width: 20%;
height: auto;
background-color: grey;
padding-bottom: 920px;
}

#city-holder{
  float: left;
  margin-left: 10px;
}
#clear-form{
position: relative;
margin-top: 10px;
}

#search-history{
    margin-top: 40px;
    list-style: none;
    display: block;
    
}
.listItems{
    background-color: whitesmoke;
    border-radius:12px;
    margin-bottom: 10px;
    width: 100px;
   
}

/* .cities{
    border: 1px dashed black;
} */